body {
      font-family: Arial;
      padding: 20px;
    }

    .box {
      padding: 10px;
      margin: 10px 0;
      border: 1px solid black;
    }

    .item {
      color: darkblue;
    }

    .highlight {
      background: yellow;
    }